<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style_edit.css') }}">
    <title>Document</title>
</head>
<body>
     <h1>Редактирование записи</h1>
    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}
    <form method="POST" class="edit-form">
        <input type="text" name="name" placeholder="Название" required>
        <input type="text" name="category" placeholder="Категория" required>
        <textarea name="ingredients" placeholder="Ингредиенты" required></textarea>
        <textarea name="cooking" placeholder="Способ приготовления" required></textarea>
        <input type="number" name="time" placeholder="Время приготовления" required>
        <button type="submit">Сохранить</button>
        <a href="/">Отмена</a>
    </form>
</body>
</html>